<!DOCTYPE html>
<html>
<title>Cute Pet </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}

.menu {display: none}
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/dog and cat.jpg");
    min-height: 90%;
}
</style>
<body>

<!-- Navbar (sit on top) -->
{{>navbar}}

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-padding">
    <span class="w3-tag w3-xlarge">Online for 24/7</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white w3-hide-small" style="font-size:100px">Welcome<br>to Cute Pet</span>
    <span class="w3-text-white w3-hide-large w3-hide-medium" style="font-size:60px"><b>thin<br>CRUST PIZZA</b></span>
    <p><a href="/form" class="w3-button w3-xxlarge w3-black">Let us search together</a></p>
  </div>
</header>

<!-- Menu Container -->


<!-- About Container -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">About</h1>
    <p>This Website was founded by Mr. Rex Wong in early 2018. The purpose of doing this website is Rick relieased that pet store or veterniary care are hard to found because he is a pet lover and wanted to help other pet lover as well.</p>
    <p><strong>The pets?</strong> Cute <img src="/vet-1.jpg" style="width:150px" class="w3-circle w3-right" alt="Vet"></p>
    <p>We are proud of our interiors.</p>
    <img src="/petshop.jpg" style="width:100%" class="w3-margin-top w3-margin-bottom" alt="Restaurant">


  </div>
</div>



<div class="w3-container w3-padding-64 w3-blue-grey w3-grayscale-min w3-xlarge">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Contact</h1>
    <p>For more information send us through email "blablabla97@hotmail.com" or call us at 05050515-122330</p>
    <p><span class="w3-tag">FYI!</span> We will try to response you asap.</p>

  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>




</body>
</html>
